<% content_for :title do %>
<title> V3 Graph Generator </title>
<% end %>

<%= form_tag(controller: "graphs", action: "graph_generator", method: "post") do%>

  <table>
    <tr>
      <td align="left"> Graph Type: </td>
      <td align="left">
        <select name="graph_type">
          <option value="chord">Chord Graph</option>
          <option value="stacked_bar">Stacked Bar Graph</option>
          <option value="force_directed">Force Directed Graph</option>
        </select>
      </td>
    </tr>
    <tr>
      <td align="left">Title:</td>
      <td align="left"> <input type="text" name="title" placeholder="Title"> </td>
    </tr>
    <tr>
      <td align="left">Data Url:</td>
      <td align="left"> <input type="text" name="data_url" placeholder="www.example.com"> </td>
    </tr>
    <tr>
      <td align="left">Repeat:</td>
      <td align="left"> <input type="number" name="repeat" value=0> </td>
    </tr>
    <tr> <td> </td> <td align="right"> <input type="submit" value="Submit"> </td> </tr>
  </table>

<% end %>